* {
  color: #404142;
  font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */
header {
  background-color: #336b87;
  display: flex;
  height: 50px;
  justify-content: space-between;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
}

h1.title {
  color: #ffffff;
  font-size: 20px;
  line-height: 50px;
  margin-left: 15%;
}

nav {
  margin-right: 25%;
}

nav ul.menu {
  display: flex;
  justify-content: flex-end;
}

nav ul.menu li {
  color: #ffffff;
  font-size: 14px;
  line-height: 50px;
  margin-left: 60px;
}

/* THREE COLUMNS */
main {
  height: calc(100vh - 50px);
  margin: 50px auto 0;
  max-width: 1400px;
  overflow: hidden;
}

div.container {
  display: flex;
}

/* LEFT & RIGHT COLUMNS */
div.left-container {
  background-color: #ffffff;
  height: 100vh;
  padding: 20px 30px;
  width: 25%;
}

div.right-container {
  background-color: #ffffff;
  height: 100vh;
  padding: 20px 50px;
  width: 25%;
}

section.under-construction {
  height: 100vh;
  text-align: center;
}

section.under-construction p {
  font-size: 14px;
  line-height: 1.4;
  margin: 200px auto 0;
  max-width: 220px;
  min-width: 160px;
}

section.under-construction img {
  border-radius: 50%;
  margin-top: 80px;
  max-width: 180px;
  width: 100%;
}

/* CENTER COLUMN - CONTAINER */
div.center-container {
  background-color: #ffffff;
  border-left: 1px solid #f5f5f5;
  border-right: 1px solid #f5f5f5;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 210px);
  overflow: scroll;
  position: relative;
  width: 50%;
}

div.messages-container {
  padding: 50px 50px;
}

/* CENTER COLUMN - CHAT */
div.chat {
  background-color: #ffffff;
  border-radius: 8px;
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 25px;
  max-width: 65%;
  padding: 20px;
}

div.chat:last-child {
  margin-bottom: 0px;
}

div.left-chat {
  background-color: #f5f5f5;
  margin-right: auto;
  padding: 20px;
  position: relative;
}

div.left-chat:before {
  border-color: transparent #f5f5f5;
  border-style: solid;
  border-width: 10px 10px 10px 0;
  content: "";
  display: block;
  left: -10px;
  margin-top: -10px;
  position: absolute;
  top: 50%;
}

div.right-chat {
  background-color: #f0fbf0;
  margin-left: auto;
  padding: 20px;
  position: relative;
}

div.right-chat:before {
  border-color: transparent #f0fbf0;
  border-style: solid;
  border-width: 10px 0 10px 10px;
  content: "";
  display: block;
  margin-top: -10px;
  position: absolute;
  right: -10px;
  top: 50%;
}

/* CENTER COLUMN - INPUT */
div.edy-input {
  background-color: #90afc5;
  bottom: 0;
  height: 160px;
  max-width: 619px;
  position: fixed;
  width: calc(50% - 80px);
}
