/* ALL */
* {
  color: #404142;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.6;
}
:root {
  --border-color: #eeeeee;
}

/* HEADER */
header {
  background-color: #336b87;
  display: flex;
  height: 50px;
  justify-content: space-between;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
}

h1.title {
  color: #ffffff;
  font-size: 20px;
  line-height: 50px;
  margin-left: 15%;
}

nav {
  margin-right: 20%;
}

nav ul.menu {
  display: flex;
  justify-content: flex-end;
}

nav ul.menu li {
  color: #ffffff;
  line-height: 50px;
  margin-left: 60px;
}

/* THREE COLUMNS */
main {
  height: calc(100vh - 50px);
  margin: 50px auto 0;
  max-width: 1400px;
  overflow: hidden;
}

div.container {
  display: flex;
}

/* LEFT & RIGHT COLUMNS */
div.left-container {
  background-color: #ffffff;
  height: 100vh;
  padding: 20px 30px;
  width: 25%;
}

div.right-container {
  background-color: #ffffff;
  height: 100vh;
  padding: 20px 50px;
  width: 25%;
}

section.under-construction {
  height: 100vh;
  text-align: center;
}

section.under-construction p {
  margin: 200px auto 0;
  max-width: 220px;
  min-width: 160px;
}

section.under-construction img {
  border-radius: 50%;
  margin-top: 80px;
  max-width: 180px;
  width: 100%;
}

/* CENTER COLUMN - CONTAINER */
div.center-container {
  background-color: #ffffff;
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  height: calc(100vh - 190px);
  overflow: scroll;
  position: relative;
  width: 50%;
}

div.messages-container {
  padding: 40px;
}

/* CENTER COLUMN - CHAT */
div.chat {
  background-color: #ffffff;
  border-radius: 10px;
  margin-bottom: 25px;
  max-width: 65%;
  padding: 20px;
}

div.chat:last-child {
  margin-bottom: 0px;
}

div.left-chat {
  background-color: #f5f5f5;
  margin-right: auto;
  padding: 20px;
  position: relative;
}

div.left-chat:before {
  border-color: transparent #f5f5f5;
  border-style: solid;
  border-width: 10px 10px 10px 0;
  content: "";
  display: block;
  left: -10px;
  margin-top: -10px;
  position: absolute;
  top: 50%;
}

div.right-chat {
  background-color: #f0fbf0;
  margin-left: auto;
  padding: 20px;
  position: relative;
}

div.right-chat:before {
  border-color: transparent #f0fbf0;
  border-style: solid;
  border-width: 10px 0 10px 10px;
  content: "";
  display: block;
  margin-top: -10px;
  position: absolute;
  right: -10px;
  top: 50%;
}

/* CENTER COLUMN - INPUT */
div.edy-input {
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  bottom: 0;
  height: 140px;
  margin-left: -1px;
  max-width: 619px;
  position: fixed;
  width: calc(50% - 81px);
}

div.edy-input div.menu-bar {
  border-top: 1px solid var(--border-color);
  display: flex;
  height: 30px;
}

span.material-icons {
  font-size: 22px;
  line-height: 30px;
}

a.mood {
  margin-left: 30px;
}

a.attachment {
  margin-left: 10px;
}

a.reply {
  margin-left: auto;
  margin-right: 30px;
}

div.edy-input div.text {
  border-top: 1px solid var(--border-color);
  padding: 10px;
  height: 110px;
}

div.edy-input div.text:empty:before {
  color: #c4c4c4;
  content: attr(data-placeholder);
}
