div.status {
  display: flex;
  margin-left: 10px;
  position: fixed;
  top: 63px;
  z-index: 1;

  span.material-icons {
    cursor: pointer;
    margin-left: 5px;
    user-select: none;
  }

  span.to-check {
    color: #336b87;
  }

  span.done {
    color: #cccccc;
  }

  span.refresh {
  }
}
