div.edy-input {
  bottom: 0;
  height: 140px;
  max-width: 616px;
  position: fixed;
  width: 44%;

  div.menu-bar {
    border-top: 1px solid var(--border-color);
    display: flex;
    height: 30px;

    a.mood {
      cursor: pointer;
      margin-left: 30px;
    }

    a.attachment {
      cursor: pointer;
      margin-left: 10px;
    }

    a.reply {
      cursor: pointer;
      margin-left: auto;
      margin-right: 30px;
    }

    span.material-icons {
      font-size: 22px;
      line-height: 30px;
    }
  }

  textarea.text {
    border: none;
    border-top: 1px solid var(--border-color);
    padding: 10px;
    height: 110px;
    width: calc(100% - 20px);

    &::placeholder {
      color: #c4c4c4;
    }

    &:focus {
      outline: none;
    }
  }
}
