div.message {
  align-items: flex-end;
  display: flex;
  margin-bottom: 25px;

  div.bubble {
    border-radius: 10px;
    padding: 20px;
    white-space: pre-wrap;
    width: 55%;

    &:last-child {
      margin-bottom: 0px;
    }

    img {
      max-width: 100%;
    }
  }

  div.time {
    color: #808284;
    font-size: 11px;
    line-height: 1.2;
    margin-bottom: 23px;
    white-space: pre-wrap;
  }
}

div.left-message {
  flex-direction: row;
  justify-content: flex-start;

  div.bubble {
    background-color: #f5f5f5;
    margin-left: 40px;
    position: relative;

    &:before {
      border-color: transparent #f5f5f5;
      border-style: solid;
      border-width: 10px 10px 10px 0;
      content: "";
      display: block;
      left: -10px;
      margin-top: -10px;
      position: absolute;
      top: 50%;
    }
  }

  div.time {
    margin-left: 8px;
    text-align: left;
  }
}

div.right-message {
  flex-direction: row-reverse;
  justify-content: flex-start;

  div.bubble {
    background-color: #f0fbf0;
    // margin-left: auto;
    margin-right: 40px;
    position: relative;

    &:before {
      border-color: transparent #f0fbf0;
      border-style: solid;
      border-width: 10px 0 10px 10px;
      content: "";
      display: block;
      margin-top: -10px;
      position: absolute;
      right: -10px;
      top: 50%;
    }
  }

  div.time {
    margin-right: 8px;
    text-align: right;
  }
}
