div.center-column {
  background-color: #ffffff;
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  height: calc(100vh - 290px);
  overflow: scroll;
  padding: 50px 0;
  position: relative;
  width: 50%;
}
