div.center-column {
  background-color: #ffffff;

  display: flex;
  flex-direction: column;
  height: calc(100vh - 290px);
  overflow: scroll;
  padding: 50px 0;
  position: relative;
  width: 44%;
}
